body {
    background-color: bisque;
    color: #000000;
}
#personal-details {
    margin: 50px;
    display: grid;
    justify-content: center;
    
   
}
#reg-details {
    margin: 10px;
    padding: 5px;
}
#reg2-details {
    margin: 10px;
    padding: 5px;
}
#birth-details {
    margin: 10px;
    padding: 5px;
}
#email-details {
    margin: 10px;
    padding: 5px;
}
#tel-details {
    margin: 10px;
    padding: 5px;
}
#pass-details {
    margin: 10px;
    padding: 5px;
}
#pass2-details {
    margin: 10px;
    padding: 5px;
}
#btn-register {
    font-size: 20px;
    width: fit-content;
    margin-top: 20px;
    margin-left: 60px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: #25d366;
    color: white;
    
}
#btn-login {
    font-size: 15px;
    width: fit-content;
    margin-top: 20px;
    margin-left: 55px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: #25d366;
    color: white;
    
}

.register-link {
    color: #25d366;
}
footer {
    display: grid;
    justify-content: center;
}
